<% layout('campgrounds/boilerplate') %>

<div class="row panel">
  <div class="ani col">
    <div class="card">
      <img
        class="card-img-top"
        style="height: 400px"
        src="<%=data.image%>"
        alt="Unavailable Image"
      />
      <div class="card-body">
        <h5 class="card-title"><%= data.location %></h5>
        <p class="card-text"><%= data.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <small class="text-muted"> <%= data.title %></small>
        </li>
        <li class="list-group-item">Rs.<%= data.price %>/day</li>
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%= data._id %>/edit"
          class="card-link btn btn-info"
          >Edit fields</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= data._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger" type="submit">DELETE</button>
        </form>
      </div>
    </div>
    <a href="/campgrounds"> All campgrounds</a>
  </div>

  <div class="pii col-sm">
    <div style="padding: 20px">
      <form
        action="/campgrounds/<%= data._id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <h2>Leave a review</h2>
        <div class="mb-3">
          <label for="ranger" class="form-label">Rating(1-5):</label>
          <input
            type="range"
            class="form-range"
            min="1"
            max="5"
            id="ranger"
            name="review[value]"
            required
          />

          <div class="mb-3">
            <label class="form-label" for="review"> Review:</label>
            <textarea
              class="form-control"
              name="review[desc]"
              id="review"
              cols="10"
              rows="4"
              required
            ></textarea>
            <div class="invalid-feedback">Cannot be empty!!</div>
            <div class="valid-feedback">Looks good!!</div>
          </div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="mb-3 prop">
      <% data.reviews.forEach(element => { %>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Rating :<%= element.value %></h5>
          <div class="card-text"><%= element.desc %></div>
          <div style="margin-top: 10px">
            <form
              action="/campgrounds/<%= data._id %>/reviews/<%= element._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
