<% layout('campgrounds/boilerplate') %>

<img src="<%=data.image%>" style="width: 300px; height: 300px" />
<h1><%= data.title %></h1>
<h3>location: <%= data.location %></h3>
<p><%= data.description %></p>
<a href="/campgrounds"> All campgrounds</a>
<a href="/campgrounds/<%= data._id %>/edit"> Edit fields</a>

<form action="/campgrounds/<%= data._id %>?_method=DELETE" method="post">
  <button type="submit">DELETE</button>
</form>
