<% layout('campgrounds/boilerplate') %>
<a class="btn btn-info" href="/campgrounds/new"> Add new item</a>
<% for( let camps of data ) { %>
<div class="ani card m-3">
  <div class="panel row m-3">
    <div class="col md-4 h-30">
      <img src="<%= camps.image%>" class="img-fluid" />
    </div>
    <div class="col md-8">
      <div class="card-body">
        <div class="card-title">
          <h5><%= camps.location %></h5>
          <p class="card-text"><%= camps.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= camps.title %></small>
          </p>
          <a href="/campgrounds/<%= camps._id %> " class="btn btn-info mt-3"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
