<% layout('campgrounds/boilerplate') %>
<form action="/campgrounds/<%= data._id %>?_method=PUT" method="post">
  <label for="title"> Title :</label>
  <input
    type="text"
    id="title"
    name="title"
    placeholder="Title"
    value="<%= data.title %> "
  />
  <label for="price"> price: </label>
  <input
    type="number"
    name="price"
    id="price"
    value="<%= data.price%>"
    placeholder="price"
  />
  <label for="desc"> Description</label>
  <input
    type="text"
    name="description"
    id="desc"
    placeholder="Description"
    value="<%= data.description %> "
  />
  <label for="location"> location:</label>
  <input
    type="text"
    name="location"
    id="location"
    placeholder="Location"
    value="<%= data.location %> "
  />
  <button type="submit">click me</button>
</form>
<a href="/campgrounds"> All campgrounds</a>
